@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body {
  font-family: "Roboto", sans-serif; 
}

nav .container {
  
  display:flex;
  background: #1f2937;
  max-height: 50px;
  justify-content: space-between;
  align-content: center;
  padding: 15px;
  font-size: 16px;
  
}

nav .logo {
  color: #F9FAF8;
  font-size: 24px;
  margin-left: 300px;
}

nav > .container > ul {
  display: flex;
  list-style: none;
  
}

ul > li > a{
  text-decoration: none;
  color: #E5E7EB;
  margin-right: 30px;
  
}

ul > li:nth-child(3) {
  margin-right: 300px;
}

header {
  background: #1f2937;
  height: 450px;
}

header > .container {
  display:flex;
  max-height: 650px;
  max-width: 1600px;
  padding: 4em;
  margin-left: 15.5em;
  gap: 10px;
  
}

header > .container > .heroMainText {

margin-right: 100px;

}

header > .container > .heroMainText > h1 {
  color: white;
  font-size: 48px;
  font-weight: bolder;
}

header > .container > .heroMainText > p {
  color: #E5E7EB;
  font-size: 18px;
  max-width: 70%;
}

header > .container > .heroMainText > button {
  margin-top: 1.5em;
  font-weight: 800;
  color: white;
  border: none;
  background: #3882F6;
  width:  130px;
  height: 35px;
  border-radius: 6px;

}

.placeholder {
  display:flex;
  height: 240px;
  width: 880px;
  background: grey;
  justify-content: center;
  align-items: center;
  color: white;
  margin-right: 12.9em;
}


.cards > h2 {
  margin-top: 2em;
  margin-left: 20.5em;
  font-size: 36px;
  font-weight: 900;
  color:#1f2937; 
}

.cards > .container {
  display:flex;
  background: white;
  height: 300px;
  max-width: 800px;
  justify-content: center;
  align-items: center;
  margin-left: 34em;
  padding: 10px;
  gap: 25px;
  
  
}

.cards > .container >.cardHolder > .card {
  display:flex;
  border: 2px solid #3882F6;
  height: 130px;
  width: 130px;
  border-radius: 1.5em;
  margin-bottom: 0.75em;
}

.cards > .container > .cardHolder > p {
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  max-width: 82%;
}
.quote {
  width: 100%;
}

.quote > .container {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  height: 400px;
  background: #E5E7EB;
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937;
  justify-content: center;
  align-items: center;
}


.quote > .container> p {

  max-height: 300px;
  margin-left: 14em;
  margin-right: 14em;
}
.quote > .container > h6 {
  margin-left: 23.5em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > .container{
  margin: 80px;
  display:flex;
  justify-content: center;
  align-items: center;
  background: #3882F6;
  border-radius: 15px;
  height: 140px;
  width: 1000px;
  gap: 6em;
}
footer > .container > .callToAction {
  display: flex;
  height: 140px;
  width: 500px;
  flex-direction: column;
  background: #3882F6;
  
}

footer > .container > .callToAction > h2{
  margin-top: 2em;
  color: white;
}

footer > .container > .callToAction > p {
  color: white;
}

footer > .container > button { 
  border: 2px solid white;
  background: #3882F6;
  color:white;
  font-weight: bold;
  width:  130px;
  height: 35px;
  border-radius: 9px;
  max-width: 15%;
  margin: 60px;
}