

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}
body{
    display:block;
    padding: 0;
    margin: 0;
}
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 15px;
   
}

.headerLogo {
    max-width: 50px;
    height: auto;
    margin-right: auto;
}

.navLinks > li {
    list-style: none;
    display: inline;
    margin: 0 25px;
    margin-left: auto; 
    
}

.navLinks > li > a {
    color: blue;
    text-decoration: none;
}